.dsn
  .dsn__header
    .dsn__header__logo
      = link_to image_tag("logo.png", size: "187x55"), "/"

  .dsn__main
    .dsn__main__header 
      .registration
        %h1.text アカウントをお持ちでない方はこちら
        = link_to "新規会員登録","/users/sign_up", class: "registration__btn"
    .dsn__main__contents
      .dsn__main__contents__list
        .dsn__main__contents__list__form
          %h2.login ログイン 
          %p ※ メールアドレス / パスワード を入力して下さい
          = form_with model: @user, url: user_session_path, class: 'existing', local: true do |f|
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "field"
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "field"
            .actions
              = f.submit "Log in", class: "login_btn"
  .dsn__footer
    .dsn__footer__contents
      = link_to "プライバシーポリシー","/", class: "dsn__footer__contents__link"
      = link_to "FURIMA利用規約","/", class: "dsn__footer__contents__link"
      = link_to "特定商取引に関する表記","/", class: "dsn__footer__contents__link"
      .dsn__footer__contents__logo
        = link_to image_tag("logo.png", size: "130x50"), "/", class: "dsn__footer__contents__logo__btn"
        %p © furima, Inc.