.is
  = render partial: "partials/header"
  .breadCrumbs
  .is__main
    .is__main__showMain
      .is__main__showMain__contents
        .is__main__showMain__contents__topContent
          .is__main__showMain__contents__topContent__itemBox
            %h2.is__main__showMain__contents__topContent__itemBox__name
              = "#{@item.name}"
            .is__main__showMain__contents__topContent__itemBox__body

              %ul.mainImage
                - @images.each_with_index do |i, num|
                  %li{class: "image#{1++num}"}
                    .mainImage_box
                      %img(src="#{i.item_image.url}" width="350" height="350")
                        -if @item.buyer_id.present? 
                          .mainImage__soldOut
                            .mainImage__soldOut__inner SOLD
              %ul.thumbImage
                - @images.each_with_index do |i, num|
                  %li{class: "thumb#{1++num}"}
                    %img(src="#{i.item_image.url}" width="75" height="75")

            .is__main__showMain__contents__topContent__itemBox__price
              %span 
                = "#{@item.price}円"
              .is__main__showMain__contents__topContent__itemBox__price-detail
                %span (税込)
                %span 送料込み
            .is__main__showMain__contents__topContent__itemBox__detail
              = "#{@item.discription}"
            .is__main__showMain__contents__topContent__itemBox__table
              %table
                %tBody
                  %tr
                    %th 出品者
                    %td 
                      = "#{@item.seller.nickname}"
                  %tr
                    %th カテゴリー
                    %td 
                      = link_to "#{@item.category.name}", "#"
                  %tr
                    %th 商品の状態
                    %td
                      = "#{@item_condition.name}"
                  %tr
                    %th 配送料の負担
                    %td 
                      = "#{@item_burden.name}"
                  %tr
                    %th 発送元の地域
                    %td
                      = "#{@item_address.name}"
                  %tr
                    %th 発送日の目安
                    %td
                      = "#{@item_duration.name}"

            - if @item.buyer_id.present?
              .is__main__showMain__contents__topContent__itemBox__soldout
                売り切れました
            - else
              - if user_signed_in? && current_user.id == @item.seller.id
                .is__main__showMain__contents__topContent__itemBox__editBtn
                  = link_to "商品の編集", "#"

                .is__main__showMain__contents__topContent__itemBox__stayBtn
                  = link_to "出品を一旦停止する", "#"

                .is__main__showMain__contents__topContent__itemBox__destroyBtn
                  = link_to "この商品を削除する", "/items/#{@item.id}", method: :delete, data: { confirm: '削除しますか？' }

              - elsif user_signed_in? && current_user.id != @item.seller.id
                .is__main__showMain__contents__topContent__itemBox__buyBtn
                  = link_to "購入画面へ進む", "/items/#{@item.id}/purchase"
              - else
                .is__main__showMain__contents__topContent__itemBox__stayBtn
                  = link_to "購入にはログインが必要です", "/users/sign_in"

            .is__main__showMain__contents__topContent__itemBox__optionalArea
              %ul
                %li#likeBtn.optionalBtn.likeBtn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.optional
                %li.optionalBtn
                  = link_to "#" do
                    %i.fa.fa-flag 不適切な商品の通報

        -# コメント機能実装時に使用
        -#   .is__main__showMain__contents__topContent__commentBox
        -#     %ul.commentContents
        -#     %form#new_comment.content
        
        %ul.links
          - if @p_item.present?
            %li.p_icon
              = link_to "/items/#{@p_item.id}" do
                %i.fa.fa-angle-left
                %span 前の商品

          - if @n_item.present?
            %li.n_icon
              = link_to "/items/#{@n_item.id}" do
                %span 後ろの商品
                %i.fa.fa-angle-right
                

        .is__main__showMain__contents__relatedItems
          = link_to "#" do
            = "#{@item.category.name}をもっと見る"
          .is__main__showMain__contents__relatedItems__productLists

        .container__social-media
          %ul.container__social-media__box
            %li.container__social-media__box__facebook
              = link_to "" do
                %i.fab.fa-facebook-square.fa-3x
            %li.container__social-media__box__twitter
              = link_to "" do
                %i.fab.fa-twitter-square.fa-3x
            %li.container__social-media__box__line
              = link_to "" do
                %i.fab.fa-line.fa-3x
            %li.container__social-media__box__pinterest
              = link_to "" do
                %i.fab.fa-pinterest-square.fa-3x

  = render partial: "partials/banner"
  = render partial: "partials/footer"