.is
  -# = render partial: "items/partials/header"
  .breadCrumbs
  .is__main
    .is__main__showMain
      .is__main__showMain__contents
        .is__main__showMain__contents__topContent
          .is__main__showMain__contents__topContent__itemBox
            %h2.is__main__showMain__contents__topContent__itemBox__name item1
            .is__main__showMain__contents__topContent__itemBox__body
              %ul
                %li
                  %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg")
                  %ul
                    %li
                      %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
                    %li
                      %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
                    %li
                      %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
            .is__main__showMain__contents__topContent__itemBox__price
              %span ¥1500
              .is__main__showMain__contents__topContent__itemBox__price-detail
                %span (税込)
                %span 送料込み
            .is__main__showMain__contents__topContent__itemBox__detail
              あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこ
            .is__main__showMain__contents__topContent__itemBox__table
              %table
                %tBody
                  %tr
                    %th 出品者
                    %td hoge
                  %tr
                    %th カテゴリー
                    %td 
                      = link_to "ネクタイ", "#"
                  -# %tr
                  -#   %th ブランド
                  -#   %td
                  -# %tr
                  -#   %th 商品のサイズ
                  -#   %td
                  %tr
                    %th 商品の状態
                    %td 未使用に近い
                  %tr
                    %th 配送料の負担
                    %td 送料込み（出品者負担）
                  %tr
                    %th 発送元の地域
                    %td
                      = link_to "千葉県", "#"
                  %tr
                    %th 発送日の目安
                    %td 4-7日で発送
            .is__main__showMain__contents__topContent__itemBox__buyBtn
              = link_to "購入画面へ進む", "#"
              
            .is__main__showMain__contents__topContent__itemBox__optionalArea
              %ul
                %li#likeBtn.optionalBtn.likeBtn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.optional
                %li.optionalBtn
                  = link_to "#" do
                    %i.fa.fa-flag 不適切な商品の通報

        -#   .is__main__showMain__contents__topContent__commentBox
        -#     %ul.commentContents
        -#     %form#new_comment.content

        
        %ul.links
          %li
            = link_to "#" do
              %i.fa.fa-angle-left
              %span 前の商品
          %li
            = link_to "#" do
              %span 後ろの商品
              %i.fa.fa-angle-right
                

        .is__main__showMain__contents__relatedItems
          = link_to "#" do
            ネクタイをもっと見る
          .is__main__showMain__contents__relatedItems__productLists

        .container__social-media
          %ul.container__social-media__box
            %li.container__social-media__box__facebook
              = link_to "" do
                %i.fab.fa-facebook-square.fa-3x
            %li.container__social-media__box__twitter
              = link_to "" do
                %i.fab.fa-twitter-square.fa-3x
            %li.container__social-media__box__line
              = link_to "" do
                %i.fab.fa-line.fa-3x
            %li.container__social-media__box__pinterest
              = link_to "" do
                %i.fab.fa-pinterest-square.fa-3x





  -# = render partial: "items/partials/footer"


-# .container
-#   .container__product-details
-#     %h1.container__product-details__product-name
-#       何かしらの出品物
-#     .container__product-details__main
-#       .container__product-details__main__images
-#         .container__product-details__main__images__display
-#           %ul.container__product-details__main__images__display__up
-#             %li
-#               %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg")
-#               %ul
-#                 %li
-#                   %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
-#                 %li
-#                   %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
-#                 %li
-#                   %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")




-#       %table.container__product-details__main__detail
-#         %tbody
-#           %tr
-#             %th
-#               出品者
-#             %td
-#               T,T
-#               %div.evaluation
-#                 %div
-#                   %i.far.fa-laugh
-#                   = rand(100)
-#                 %div
-#                   %i.fas.far.fa-meh
-#                   = rand(100)
-#                 %div
-#                   %i.far.fa-sad-tear
-#                   = rand(100)
-#           %tr
-#             %th
-#               カテゴリー
-#             %td.category
-#               = link_to "" do
-#                 .category
-#                   %span
-#                     = @category_name
-#                     カテゴリー
-#           %tr
-#             %th
-#               ブランド
-#             %td
-#               テクエキ
-#           %tr
-#             %th
-#               商品の状態
-#             %td
-#               よしなに
-#           %tr
-#             %th
-#               配送料の負担
-#             %td
-#               そこそこ
-#           %tr
-#             %th
-#               配送の方法
-#             %td
-#               徒歩
-#           %tr
-#             %th
-#               配送元地域
-#             %td
-#               どこか
-#           %tr
-#             %th
-#               発送日の目安
-#             %td
-#               いつか

-#     .container__product-details__price
-#       %span.container__product-details__price__amount
-#         ¥1,000
-#       %span.container__product-details__price__tax
-#         (税込)
-#       %span.container__product-details__price__delivery-fee
-#         送料込み
-#     .container__product-details__product-description
-#       %p.container__product-details__product-description__inner
-#   %ul.container__product-link
-#     %li.container__product-link__prev
-#       = link_to "" do
-#         %i.fas.fa-chevron-left
-#         前の商品
-#     %li.container__product-link__next
-#       = link_to "" do
-#         次の商品
-#         %i.fas.fa-chevron-right
        
-#   .container__social-media
-#     %ul.container__social-media__box
-#       %li.container__social-media__box__facebook
-#         = link_to "" do
-#           %i.fab.fa-facebook-square.fa-3x
-#       %li.container__social-media__box__twitter
-#         = link_to "" do
-#           %i.fab.fa-twitter-square.fa-3x
-#       %li.container__social-media__box__line
-#         = link_to "" do
-#           %i.fab.fa-line.fa-3x
-#       %li.container__social-media__box__pinterest
-#         = link_to "" do
-#           %i.fab.fa-pinterest-square.fa-3x

-#   .container__other-products
-#     .container__other-products__login-user
-#       %h2.container__other-products__login-user__title
-#         T,Tのその他の出品物
-#     .container__other-products__same-category
-#       %h2.container__other-products__same-category__title
-#         = link_to "カテゴリ その他の出品", ""

-#   %navi.container__bread-crumbs
-#     %ul.container__bread-crumbs__list
-#       %li.container__bread-crumbs__list__mercari
-#         = link_to root_path do
-#           メルカリ
-#           %i.fas.fa-chevron-right
-#       %li.container__bread-crumbs__list__current-product
-#         %span

