.is
  = render partial: "partials/header"
  .breadCrumbs
  .is__main
    .is__main__showMain
      .is__main__showMain__contents
        .is__main__showMain__contents__topContent
          .is__main__showMain__contents__topContent__itemBox
            %h2.is__main__showMain__contents__topContent__itemBox__name item1
            .is__main__showMain__contents__topContent__itemBox__body
              %ul
                %li
                  %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg")
                  %ul
                    %li
                      %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
                    %li
                      %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
                    %li
                      %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
            .is__main__showMain__contents__topContent__itemBox__price
              %span ¥1500
              .is__main__showMain__contents__topContent__itemBox__price-detail
                %span (税込)
                %span 送料込み
            .is__main__showMain__contents__topContent__itemBox__detail
              あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこかきくけこ
            .is__main__showMain__contents__topContent__itemBox__table
              %table
                %tBody
                  %tr
                    %th 出品者
                    %td hoge
                  %tr
                    %th カテゴリー
                    %td 
                      = link_to "ネクタイ", "#"
                  %tr
                    %th 商品の状態
                    %td 未使用に近い
                  %tr
                    %th 配送料の負担
                    %td 送料込み（出品者負担）
                  %tr
                    %th 発送元の地域
                    %td
                      = link_to "千葉県", "#"
                  %tr
                    %th 発送日の目安
                    %td 4-7日で発送
            .is__main__showMain__contents__topContent__itemBox__buyBtn
              = link_to "購入画面へ進む", "#"
              
            .is__main__showMain__contents__topContent__itemBox__optionalArea
              %ul
                %li#likeBtn.optionalBtn.likeBtn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.optional
                %li.optionalBtn
                  = link_to "#" do
                    %i.fa.fa-flag 不適切な商品の通報

        -# コメント機能実装時に使用
        -#   .is__main__showMain__contents__topContent__commentBox
        -#     %ul.commentContents
        -#     %form#new_comment.content

        
        %ul.links
          %li
            = link_to "#" do
              %i.fa.fa-angle-left
              %span 前の商品
          %li
            = link_to "#" do
              %span 後ろの商品
              %i.fa.fa-angle-right
                

        .is__main__showMain__contents__relatedItems
          = link_to "#" do
            ネクタイをもっと見る
          .is__main__showMain__contents__relatedItems__productLists

        .container__social-media
          %ul.container__social-media__box
            %li.container__social-media__box__facebook
              = link_to "" do
                %i.fab.fa-facebook-square.fa-3x
            %li.container__social-media__box__twitter
              = link_to "" do
                %i.fab.fa-twitter-square.fa-3x
            %li.container__social-media__box__line
              = link_to "" do
                %i.fab.fa-line.fa-3x
            %li.container__social-media__box__pinterest
              = link_to "" do
                %i.fab.fa-pinterest-square.fa-3x

